MAALI_OS=ubuntu14
MAALI_SYSTEM=nectar
MAALI_ROOT="/$MAALI_SYSTEM/$MAALI_OS"
MAALI_BUILD_DIR="$MAALI_ROOT/build"
MAALI_MODULE_DIR="$MAALI_ROOT/modulefiles"
MAALI_SRC="$MAALI_ROOT/src"
#MAALI_SYSTEM_BUILD="YES"
MAALI_DEFAULT_COMPILERS="gnu/4.9.1"
#MAALI_DEFAULT_PYTHON=""
#MAALI_DEFAULT_MPI="openmpi/1.7.5"
