MAALI_OS=<operatingsystem>
MAALI_SYSTEM=<systemname>
MAALI_ROOT="/ivec/$MAALI_OS"
MAALI_BUILD_DIR="$MAALI_ROOT/build"
MAALI_MODULE_DIR="$MAALI_ROOT/modulefiles"
MAALI_SRC="$MAALI_ROOT/src"
#MAALI_SYSTEM_BUILD="YES"
#MAALI_DEFAULT_COMPILERS=""
#MAALI_DEFAULT_PYTHON=""
#MAALI_DEFAULT_MPI=""
